.DS_Store

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/saopaulo.drupalcamp.com.br/themes/custom/drupalcamp/node_modules

nbproject/
.sass-cache/
*.gz
