<div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow" data-a2a-icon-color="#0071b3">
    <a class="a2a_button_twitter" href="https://mobile.twitter.com/drupalbrasil"></a>
    <a class="a2a_button_telegram" href="https://t.me/drupalbrasil"></a>
    <a class="a2a_button_facebook" href="https://www.facebook.com/DrupalcampSaoPaulo/"></a>
</div>
<style type="text/css">
.a2a_default_style {
    display: flex;
    justify-content: center;
}
.a2a_svg, .a2a_count { 
    border-radius: 50% !important; 
    padding: 5px !important;
    zoom: 2;
    margin: auto 0.5rem;
}
</style>