body,
#header,
.link {
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-top: 0.2em;
}

.page-title {
    font-size: 3em;
}

.main-content h2 {
    margin-bottom: 2px;
    font-size: 2em;
    line-height: 1.4;
}

/* Primary Menu */
.region-primary-menu .menu {
    margin: 0;
}
.region-primary-menu .menu a {
    margin: 0;
    border-radius: 0;
}

/* Breadcrumb */
.breadcrumb {
    font-size: 1.2em;
}

/* featured-top.css */
.featured-top {
    background-color: #022a50;
    padding-bottom: 20px;
}

/* node.css */
.node__content {
    font-size: 1.2em;
}

.node__meta .field--name-user-picture img {
    border-radius: 50%;
    border: 1px solid;
    margin-right: 10px;
}

/* field.css */
.field--name-field-tags .field__label {
    font-size: 1.2em;
}

.field--name-field-tags ul.links a {
    border: 2px solid #0071b3;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 1.4em;
}

.field--name-field-tags ul.links a:hover {
    background-color: #0071b3;
    color: #ffffff;
}

@media all and (min-width: 851px) {
    .layout-no-sidebars .region-breadcrumb,
    .layout-no-sidebars .main-content {
        width: 75%;
        float: unset;
        margin: auto;
    }

    .breadcrumb {
        padding: 0 15px;
    }

    .path-node .page-title {
        font-size: 5em;
    }
}