.node--view-mode-teaser {
    border: none;
}

.node--view-mode-teaser h2 a:hover {
    color: #0071b3;
    border-bottom: none;
}

/* Featured Top */
.featured-top .page-title {
    color: #fff;
}


/* Blog */
.path-blog .page-title {
    text-align: center;
}

/* Node */
.node header {
    margin-bottom: 1em;
}

.node .username {
    font-size: 2em;
}

.media.media--view-mode-teaser {
    margin: 0 1rem;
}

/* Responsive Youtube and Vimeo embed */
.video-responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    margin: 1em 0;
}
     
.video-responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    border: 1px solid;
}

.card--description {
    padding: 0 10px;
}

/* Block Class */
.block h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
}

.text-center h2 {
    text-align: center;
}



@media all and (min-width: 461px) {
    .region-primary-menu .menu {
        display: flex;
    }
    .region-primary-menu .menu a {
        background: transparent;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }
    .region-primary-menu .menu a:hover,
    .region-primary-menu .menu a:focus {
        background: transparent;
    }
    .region-primary-menu .menu a:active {
        background: transparent;
    }
    .region-primary-menu .menu-item a.is-active {
        background: transparent;
        color: #022a50;
    }
}

@media all and (min-width: 851px) {
    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .region-primary-menu .menu a {
        font-size: 1.2em;
    }
}